/*
Colors:
Yellow 		: color:#CEA42A;
Green  		: color:#6DA10F;
light gray 	: color:#888;
Medium Gray	: color:#555; 
Dark Gray	: color:#181818;
Link		: color:#5DE9E9;
Link Hover  : color:#fff;
Text Color	: color:#999;
Blue Hightlight	: background-color: #2768f9;


*/

.clear{clear:both;}

body {
background-color:#000;
font-family: Helvetica;
font-size: small;  
margin:0px;
text-align: left; 
border-width:0px;
padding:0px;
-webkit-text-size-adjust:none;
}

p, a, h1, h2, h3, li, label {
	font-size:small;	margin:0pt;	padding:0;	font-weight:normal;	display:block;	color:#999;	font-style:normal;   
}


p {
margin:1px;
padding:2px;
}

hr {
	border-style:solid none none; border-width:1px;	clear:both;	display:block;	margin:3px 0 3px 0;	color:#222;width:100%;
}




/* MEDIA ENTRY - Styles for tables containing thumbnail and clip/channel titles and info */

table.media_entry{
   width:100%;
   border-bottom:1px solid #333;
}
.media_title{ 
	background:#000;  font-weight:bold;
}

.media_title a,
.media_title p{ 
	color:#cea42a;/*font-weight:bold;*/font-size:1.2em;
}
.media_title p span{
	display:block;
	>-size:1em; 
}
.media_info li{
	border:none;
}
td.media_thumb{
    padding:5px;	/*width:100px !important;*/		/*height:65px;*/	/*display:block;*/	background:#000; width:55px;
}
td.media_thumb a:hover, td.media_thumb a:focus{
/*	background-color:#2768f9 !important;*/
}

/*LINK STYLES - global link styles */

a.ringtones { background:transparent url('/images/ringtones_22.gif') no-repeat 0px 3px !important; padding-left:25px!important;}
a.wallpapers { background:transparent url('/images/wallpapers_22.gif') no-repeat 0px 3px !important; padding-left:25px!important;}
a.videos { background:transparent url('/images/videos_22.gif') no-repeat 0px 3px !important; padding-left:25px!important;}
a.games { background:transparent url('/images/games_22.gif') no-repeat 0px 3px !important; padding-left:25px!important;}

a.user_lnk { 
display:inline; 
}
a:link, a:visited {
	color:#5DE9E9;	
	text-decoration:none;
}
a:hover, a:focus { 
	color:#FFFFFF !important; 
	background-color:#2768f9!important;
	border-color:#4282F8 !important;
}
a img{ 
	border:0;
}
a.link{
	background:transparent;border:medium none;	display:inline;	text-decoration:none;	padding:0;
}
li.links a{
	background:transparent;	border:medium none;	display:inline;	text-decoration:none;	padding:0;
}
li.links{
	border-top:1px solid #222;	text-align:center;	color:#555;
}

a.softlink{
	text-indent:0;	color:#777;
}
em, em a {
	color:#888;	font-style:normal;	font-weight:normal;
}

.links_inline a{
display:inline !important;	
}
.links_inline ul.nav a{
	display:block !important;
	padding:5px;
}
.links_inline ul.nav li{
	padding:0;
}
.links_inline h1 em{ color:#000; font-weight:bold;}


/*HEADER STYLES*/

/*NEW*/
h1,h2,h3 {
	background: #000 url(/images/bck_diag_1.gif) repeat-x 0px -8px;
	padding: 7px 5px;
	text-align: left;
	color: #ACDF24;
	font-weight:bold;
	border-bottom:1px solid #111;
}
.hot {
color:red;
}

.linklist li {
	padding: 0!important;
	background: #000;
	border-bottom: 1px solid #222!important; 
	margin-left:0px !important; 
} 

.grad li {
	background: #000;
	border-bottom: 1px solid #222!important;
	padding:9px !important;
}

.linklist a:link,
.linklist a:visited,
.linklist td a:link,
.linklist td a:visited {
	display: block;
	text-decoration: none !important;
	padding: 8px 8px 8px 14px;
/*	color: #F90;*/
	font-size:110% !important;
}
.linklist a:hover,
.linklist a:active,
.linklist td a:hover,
.linklist td a:focus {
/*	background-color: #2768f9;*/
	color: #fff;
	text-decoration:underline;
}
.linklist.hot a{color:#5AECEA;}

.linklist a.more, 
.linklist.hot a.more
	{
	color:#5AECEA; background:#000; 
	padding-left:8px;text-align:left;
	}

table.linklist
	{
	width:100%;
	border:none;
	border-bottom:1px solid #222;
	}
	
table.linklist td{ padding-left:5px;vertical-align:middle;}
table.linklist td a:link,
table.linklist td a:visited { padding-left:5px;}
table.linklist td img{padding-top:3px;}

.sbox{
	text-align:left;
	padding:10px 0 !important;
	border-bottom:1px solid #222;
	background:#000;
}
/*.sbox a:link,
.sbox a:visited{
	padding-left:5px;	
}
.sbox a:hover{
	background-color:#2768F9;
	color:#FFFFFF !important;
} */





.t_input{
	width:75%;
	height:24px;
}

/*END NEW*/


h4, h5, h6{
	padding:5px 2px 3px 4px;
    font-weight:normal;
	border-bottom:1px solid #181818;   
}

/*h1 {
	background:#6DA10F;
	color:#fff !important; 
	font-weight:bold;

}*/
h1.rev {
	background:#000;
	color:#acdf24 !important; 
	font-weight:normal; 
	margin-top:5px;
/*	border-top:1px solid #555;*/
}
h1.rev span{
/*color:#999;*/
margin-left:2px;
}

h1.rev em{
display:inline;
padding:0 2px;
border-left:1px solid #555;
/*color:#CEA42A;*/
/*font-weight:bold;*/
}
h1.rev span a{
display:inline;
padding:0;
border-left:1px solid #555;
}

h1 em, h1 em a{ color:#eee; display:inline!important;}


h2 {
	background:#000000 none repeat scroll 0% 50%;
	color:#999999;
}

h3, h6, p.title {
	background:#000;
	color:#CEA42A;
} 

/* LIST STYLES*/

ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}

li{
	border-bottom:1px solid #323232;
	padding:5px;
	background:#181818;     
}
li.selected, .selected a{
	color:#fff; 
	background:#1F47C7;
}

.gnav li{ background:#0C1019; padding:0; border-color:#2D3958;}
.gnav li a{padding:5px;}
.next {
text-align:right;
}
li.next, li.prev{
	border-bottom:1px solid #323232;
	border-top:1px solid #323232;
	background:#121212;     
}

/* used for iphone play btn overlay */
img.fl{
	display:block;
	float:left;
	margin-top:60px;
	position:relative;
	left:155px;
	background:transparent;
}

img {
	background-color:#000000;
	color:#4A4A4A;
}


.hl, .hl a, a.hl, em.hl{
	color:#FF9900; 
	/*padding-left:0px;*/} 
.hl2, .hl2 a, a.hl2{
    color:#DD35FA; 
	padding-left:0px;
}


/*FORMS*/
input{ border:1px solid red; background:#fff;}
input:focus{ border-width:3px;}
label{display:block; padding:3px;}
fieldset{border:none; margin:0; padding:0;}
input.go_btn {background-color:#000; color:#fff;}
textarea{background-color:#FFF; color:black;}
form p{padding:5px;}

/* UTIL STYLES - COLOR OVER-RIDES */

.bc1{background-color:#262626	!important; }
.bc2{background-color:#121212;}
td.bc2{background:#000 url('/images/hdr_grad_black.gif') repeat-x !important;}
.bc3{background-color:#181818	!important;}
.bc4{background-color:#000		!important;}

.bb1{border-bottom:1px solid #333; margin-bottom:1px;}  

.nb{ border:none !important;}
.np{ padding-top:0 !important;} 
.nm{ margin:0 !important;}
.hide{ display:none;}
.nb {border:none!important;}

.pageHeader{
	background:#000;
	border-bottom:0px solid #222;
}
.pageHeader td{
 
}

/* NAMED BLOCK CLASSES */



.clip_preview{
	text-align:center;
	height:100px;
	display:block;
	background:#000;
}

.slideshow{
	text-align:center;
	display:block;
	background:#000;
}

table.nav { border-top:1px solid #222; background:#000;}
table.nav  td {border-right:1px solid #222; text-align:center; padding:3px 0;}
table.nav  p{ background:#000;}




.copy, .msg {
padding:3px 0px 3px 3px;
line-height:1.5em;
}
.note{
	display:none;
	color:#DB7C0C;
	background:#472904;
	padding:3px 0px 3px 3px;
	line-height:1.5em;
}
.debug { 
/*display:none;*/
color:#666;
font-weight:normal;
margin:20px 10px;
background-color:#111;
border:1px dotted #CEA42A;
padding:3px 5px 6px;
font-size: 80%;
}
.debug h6{
	margin:0;
	background-color:#111;
	border:none;
}
.debug img{
	display:block;
}

.msg {
color:#000;
font-weight:bold;
margin:2px 0;
background-color:#f3e357;
border:2px solid #CEC252 ;
}

.msg a{
	color:#214C96;
	display:inline;
	text-decoration:underline;
}

.msg p{ background-color:transparent; color:#000; }
.masthead {
text-align:center;
background:#000;
display:block;
padding:3px;
}


/* icons */
.ico_star{
background:#181818 url(/images/new_mobile/ui/ICO_STAR.gif) no-repeat  3px 3px;
text-indent:0;
padding-left:21px;
}

h3.ico_member{
background:#000 url(/images/new_mobile/ui/ICO_MEMBER.gif) no-repeat  3px 3px;
text-indent:18px;
padding:4px 0px 2px 0px;

}

.ico_pics{
background:#181818 url(/images/new_mobile/ui/ICO_PIC.gif) no-repeat  3px 3px;
padding-left:19px;
}


a.jumpmenu{
	 width:40px; 
	 float:right;  
	 text-align:center;  
	 text-decoration:underline!important; 
	 color:#153104;
}
.jumpmenu2{
	 width:40px; 
	 float:right;  
	 text-align:right; 
	 margin-right:5px; 
	 text-decoration:underline!important; 
	 color:#DDD!important;
}

.adv{
	background:#000;
	text-align:left;
	color:#A1200E;
	padding:0px;
	border:1px dotted #A1200E;
}
.adv img{
} 
.adv a{
  margin:5px;   
	display:inline;
}

.adsense{
  padding:0;
  margin:0;
  background-color: #000000;
}

.letter_short {
	color: black !important;
	width: 2.5em;
	text-align: center;
	border: 1px solid gray;
	background: #fff;
	padding: 1px 1px 1px 1px;
	float: left;
	margin: 1px;
	display: inline;
}

.letter:hover{
	color: #f90 !important;
	background:#111;
	text-decoration:underline;
}

.letter, .letter_current {
    
	text-decoration:none;
	padding: 1px 3px;
	display: inline;
}

.letter_current, .letter_current:hover {
	background: #2768f9; 
	color:#fff !important;
	border:none;
}



li.title {
	color:#CEA42A;
}

.featured{
	border:1px solid #E8922B;
	background:#A96515;
	margin:0px ;
	margin-bottom:1px;
	padding:1px;
}
.featured table{
	margin:0px;
	border-top:5px solid #000;
	border-bottom:1px solid #653C0F;
	

}
.featured img.tab{
	background:transparent;
	height:13px;
	margin:0;
	padding:0;
	display:block;
}
.featured li{ background:#111; border:none;} 

.club{ 
	background-color:#990000; 
	color:#fff; 
	border-color:red;
}

a.ibutton:link,
a.ibutton:visited{
	border:2px solid #333333;
	display:block;
	line-height:25px;
	margin:4px;
	padding:0pt 11px;
	text-align:center;
	background:#000000 url(/images/new_mobile/ui/ibtn_shine.png) repeat-x 1px -5px;
	margin:4px;
}
a.ibutton:active,
a.ibutton:hover{
	color:#fff!important;
	background:#2768f9;
}


/* NEW UI STYLES - IN PROGRESS 
#list-c : div wraps UL 		-> CATEGORY links
#list-e : div wraps UL 		-> ENTITY links
#list-g : div wraps UL 		-> GLOBAL NAV  links
#list-t : div wraps TABLE 	-> THUMB/LINK 
*/
a.buy, .text a.buy {
color:#00FF18 !important;
font-weight:bold;
}

div#list-t{
	background-color:#000;
	border-color:#333;
	color:#999;
	
	font-size:12px;
	line-height:1.5em; 
}

#list-t table{
	width:100%;
	border-bottom:1px solid #222;
	background:#000 url('/images/hdr_grad_black.gif') repeat-x;
}
#list-t table td{
	text-align:left;
}
#list-t table td h1{
	background:transparent none repeat scroll 0%;
	border:medium none;
	color:#FF9900;
/*	font-size:120%;*/
	padding:0pt;
}
#list-t table td a{
	display:inline;
	padding:0;
}
#list-t table td.text{
	padding:8px 5px;
	line-height:1em !important;
	vertical-align:top;
}
#list-t table td.thumb{
	background:#000;
/*	width:50px;*/
/*	min-height:60px;*/
/*	overflow:hidden;*/
	border-left:1px solid #111;
	border-right:1px solid #111;
	
}


.pagination {
	margin:2px 0;
	padding: 2px;
}

.pagination a{	
	color:#5DE9E9;
	display:inline;
	padding: 2px;
}

.pagination, .disabled, .current {
	color:#999999;
}

#pagiantaion{
	border-bottom-width: 1px solid #999;
}
table ul li{
	border:none!important;
	background:transparent!important;
}

.debug_dump{
color:#eee;
background:#111;
padding:20px;	
font-family:arial;
font-size:12px;
line-height:1.5em;
}

 #page_wrapper{  
     padding-top:20px;  
     background:#000;  
     overflow:auto;  
     }  