<?xml version="1.0" encoding="utf-8"?>
<web-app 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xmlns="http://java.sun.com/xml/ns/javaee"
			xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
			
	<servlet>
		<servlet-name>RingtoneServer</servlet-name>
		<servlet-class>com.ringtone.server.RingtoneServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RingtoneServer</servlet-name>
		<url-pattern>/ringtoneserver</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InsertSongServlet</servlet-name>
		<servlet-class>com.ringtone.server.InsertSongServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertSongServlet</servlet-name>
		<url-pattern>/ringtoneserver/insertsong</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.ringtone.server.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/ringtoneserver/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SendMailServlet</servlet-name>
		<servlet-class>com.ringtone.server.SendMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMailServlet</servlet-name>
		<url-pattern>/ringtoneserver/sendemail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CountAllServlet</servlet-name>
		<servlet-class>com.ringtone.server.CountAllServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountAllServlet</servlet-name>
		<url-pattern>/ringtoneserver/allsong</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.ringtone.server.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/ringtoneserver/mobile/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MobileSearchServlet</servlet-name>
		<servlet-class>com.ringtone.server.MobileSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MobileSearchServlet</servlet-name>
		<url-pattern>/ringtoneserver/mobile/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MobileShowServlet</servlet-name>
		<servlet-class>com.ringtone.server.MobileShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MobileShowServlet</servlet-name>
		<url-pattern>/ringtoneserver/mobile/show</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AllCategoryServlet</servlet-name>
		<servlet-class>com.ringtone.server.AllCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllCategoryServlet</servlet-name>
		<url-pattern>/ringtoneserver/mobile/cateall</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownloadCountIncServlet</servlet-name>
		<servlet-class>com.ringtone.server.DownloadCountIncServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadCountIncServlet</servlet-name>
		<url-pattern>/ringtoneserver/download</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RateServlet</servlet-name>
		<servlet-class>com.ringtone.server.RateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RateServlet</servlet-name>
		<url-pattern>/ringtoneserver/rate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DebugGetUuidServlet</servlet-name>
		<servlet-class>com.ringtone.server.DebugGetUuidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DebugGetUuidServlet</servlet-name>
		<url-pattern>/ringtoneserver/getuuid</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>RemoteApi</servlet-name>
    	<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>RemoteApi</servlet-name>
    	<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
