<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   android:installLocation="auto"

      package="com.jokes.search"
      android:versionCode="1" android:versionName="1.0.0">
      <uses-sdk android:minSdkVersion="3" />   
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="com.trans.music.search.SearchTab"
                  android:label="@string/app_name"
                  android:configChanges="keyboardHidden|orientation"
				  android:launchMode="singleTop" android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
              <action android:name="android.intent.action.SEARCH" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.trans.music.search.StringList" android:label="Search Results:"
                  android:configChanges="keyboardHidden|orientation"
				  >
            <intent-filter>
              <action android:name="android.intent.action.SEARCH" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
     	</activity>

        <activity android:name="com.trans.music.search.SearchList" android:label="Search Results:"
                  android:configChanges="keyboardHidden|orientation"
				  >
            <intent-filter>
              <action android:name="android.intent.action.SEARCH" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
     	</activity>

     	<activity android:name="com.trans.music.search.online" android:label="MusicSearch : Bookmark">
     	</activity>
        <activity android:name="com.trans.music.search.local" android:label="MusicSearch : Local"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>
        <activity android:name="com.trans.music.search.help" android:label="MusicSearch : Help">
     	</activity>
     	<activity android:name="com.trans.music.search.paypal" android:label="MusicSearch : Donate"
     	          android:configChanges="keyboardHidden|orientation">
     	</activity> 	
        <activity android:name="com.trans.music.search.SingerLibrary" android:label="Singer Library"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>    
        <activity android:name="com.trans.music.search.SLMale" android:label="Singer Library: Male Artist"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>    
        <activity android:name="com.trans.music.search.SLFemale" android:label="Singer Library: Female Artist"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>    
     	<activity android:name="com.trans.music.search.SLBand" android:label="Singer Library: Band"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>  
     	<activity android:name="com.trans.music.search.Artist" android:label="Artist Information"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>      	
     	<activity android:name="com.trans.music.search.BbHotChart" android:label="The most popular songs"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>       
     	<activity android:name="com.trans.music.search.Myfavourite" android:label="My favourite"
     				android:configChanges="keyboardHidden|orientation">
     	</activity>
     	<activity android:name="com.trans.music.search.Lyric" android:label="Lyric"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>       		     	     	   	
        <activity android:name="com.trans.music.search.ArtistList" android:label="Mobile Ringtones"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>   
        <activity android:name="com.trans.music.search.RDetail" android:label="Ringtone Detail"
                  android:configChanges="keyboardHidden|orientation"
				  >
     	</activity>       	
        
               <activity android:name="com.other.RingSelectActivity" android:label=""
                  android:launchMode="singleTop" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="audio/*" />
            </intent-filter>
                  
        </activity>
        <activity android:name="com.other.RingEditActivity"
        			android:launchMode="singleTop" 
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter android:label="@string/edit_intent">
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

	 <!--  Activity for choosing a contact to assign a ringtone to. -->
        <activity android:name="com.ringdroid.ChooseContactActivity"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
  	 <activity android:name="com.millennialmedia.android.MMAdViewOverlayActivity" 
       		android:theme="@android:style/Theme.Translucent.NoTitleBar">
 	</activity>
	 <activity android:name="com.millennialmedia.android.VideoPlayer" 
                    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                    android:configChanges="keyboardHidden|orientation|keyboard" >
        </activity>
 <activity android:name="com.admob.android.ads.AdMobActivity" 
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:configChanges="orientation|keyboard|keyboardHidden"
              />
        
        <meta-data android:name="android.app.default_searchable"
                   android:value="com.trans.music.search.SearchList" />
        <!-- Provides search suggestions . -->
        <provider android:name="com.trans.music.search.Search"
                android:authorities="mp3musicsearch1"
                android:syncable="false" />
        
    <activity android:name="com.trans.music.search.MusicPage"
    			android:configChanges="keyboardHidden|orientation"
    			></activity>    
</application>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
</manifest> 
