<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:installLocation="auto"
      package="com.fatima.life2"
      android:versionCode="58"
      android:versionName="2.6.3">
    <application
     android:name=".App"
   	 android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".music"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchResultActivity" android:launchMode="singleTop" ></activity>
        <activity android:name=".DownloadActivity"></activity>
        <activity android:name=".SearchTab"></activity>
        <activity android:name=".EulaActivity"/>
        <service android:name=".DownloadService"></service>
        <service android:name=".MiniServer"></service>
		<meta-data android:value="a14bde108d3ecc3" android:name="ADMOB_PUBLISHER_ID" />

        
        <!-- Main activity that's launched when the user opens Ringdroid. -->
        <activity android:name="com.other.RingSelectActivity"
                  android:label="@string/main_activity_label">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="audio/*" />
            </intent-filter>

        </activity>

	<!-- Activity for actually editing a particular audio file.
             Controls viewing the waveform, setting the start and end
             positions, playback, and triggering saving of the output
             file. -->
        <activity android:name="com.other.RingEditActivity"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter android:label="@string/edit_intent">
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

	<!-- Activity for choosing a contact to assign a ringtone to. -->
        <activity android:name="com.ringdroid.ChooseContactActivity"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
        
        <activity android:name="com.droidcool.music.TrackBrowserActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.droidcool.cursor.dir/track"/>
            </intent-filter>
        </activity>
        <activity android:name="com.droidcool.music.ScanningProgress"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.droidcool.music.DeleteItems"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.droidcool.music.CreatePlaylist"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.droidcool.music.MediaPlaybackActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="@string/mediaplaybacklabel"
                android:taskAffinity=""
                android:launchMode="singleTask"
                android:clearTaskOnLaunch="true"
                android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.droidcool.music.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <service android:name="com.droidcool.music.MediaPlaybackService" android:exported="false" />
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     
    <!--
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/> 
    -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    

</manifest> 
