<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cinderella.musicsearch"
      android:versionCode="1"
      android:versionName="1.0">
    <application 
    	android:name=".App"
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name">
        <activity android:name=".main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
        	android:name=".SearchActivity"
        	android:launchMode="singleTop"
        	android:configChanges="orientation|keyboardHidden">
        </activity>
        	  	  
       	<activity 
       		android:name=".MusicPageActivity"
        	android:launchMode="singleTop"
        	android:configChanges="orientation|keyboardHidden">
       	</activity>
        	 	  
       	<activity 
       		android:name=".DownloadedActivity"
        	android:launchMode="singleTop"
        	android:configChanges="orientation|keyboardHidden">
       	</activity>
       	
       	<activity 
       		android:name="com.libhy.RingSelect" 
       		android:label=""
            android:launchMode="singleTop" 
            android:configChanges="orientation|keyboardHidden">
        	<intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="audio/*" />
            </intent-filter> 
        </activity>
        
        <activity 
        	android:name="com.libhy.RingEditor"
           	android:launchMode="singleTop" 
            android:configChanges="orientation|keyboardHidden">
            <intent-filter android:label="@string/edit_intent">
            	  <action android:name="android.intent.action.EDIT" />
                  <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        
        <activity 
        	android:name="com.ringdroid.ChooseContactActivity"
            android:configChanges="orientation|keyboardHidden">
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="3" />
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

</manifest> 