@media screen and (max-width: 320px)
{
  .searchbox form {
    width: 272px;
  }
  
  .searchbox input[type="text"] {
    width: 275px;
  }
  
  div .loader {
    top: 200px;
    left: 40px;
  }
  
  div .ad_footer {
    left: 0;
  }

}


@media screen and (min-width: 321px)
{

  .searchbox form {
    width: 432px;
  }

  .searchbox input[type="text"] {
    width: 435px;
  }
  
  div .loader {
    top: 120px;
    left: 120px;
  }

	  div .ad_footer {
    left: 80px;
  }
	
}

.searchbox {
  height: 44px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f3f4), color-stop(3%, #e0e4e7), color-stop(50%, #c7cfd4), color-stop(51%, #bec7cd), color-stop(97%, #b4bec6), to(#8999a5));
  margin: 0 0 0 0;
  width: 100%;
}
  
.searchbox form {
  height: 24px;
  -webkit-border-image: url('img/searchfield.png') 4 14 1 24;
  border-width: 4px 14px 1px 24px;
  display: block;
  position: relative;
  top: 8px;
  margin: auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
  
.searchbox input[type="text"] {
  border: 0;
  -webkit-appearance: none;
  height: 18px;
  float: left;
  font-size: 13px;
  padding: 0;
  position: relative;
  top: 2px;
  left: 2px;
}

.store {
  background-image: url(/themes/apple/img/chevron.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  border-top: 1px solid #878787;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.store a {
  display: block;
  height: 50px;
  position: absolute;
  text-decoration: none;
  width: 100%
}

.store .image {
  display: block;
  height : 200%;
  width: 200%;
  left: 0;
  position: absolute;
  top :4;
}

.store img {
  display: block;
  height: 50px;
  width: 50px;
  left: 0;
  position: absolute;
  top: 4;
}

.store .title {
  left: 55px;
  position: absolute;
  top: 24px;
  display: block;
  font-size: 15px;
  font-weight: bold;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
}

.store .artist {
  margin: 0 0 0 45px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  width: 60;
}

.store .arrow {
  background-image: url("img/chevron.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.store .stars0 {
  background: url("img/0stars.png") repeat scroll 0 0 transparent;
}

.store .stars1 {
  background: url("img/1stars.png") repeat scroll 0 0 transparent;
}

.store .stars2 {
  background: url("img/2stars.png") repeat scroll 0 0 transparent;
}

.store .stars3 {
  background: url("img/3stars.png") repeat scroll 0 0 transparent;
}

.store .stars4 {
  background: url("img/4stars.png") repeat scroll 0 0 transparent;
}

.store .stars5 {
  background: url("img/5stars.png") repeat scroll 0 0 transparent;
}

.store .stars0, .store .stars1, .store .stars2, .store .stars3, .store .stars4, .store .stars5 {
  display: block;
  height: 18px;
  left: 55px;
  position: absolute;
  top: 40px;
  width: 65px;
}

div .ad_footer {
  height: 50px;
  width: 320px;
  display: block;
  margin: 0 auto;
}

div .loader {
  -webkit-border-radius: 10px;
  background-color: rgba(0,0,0,.56);
  background-image: url(img/newloading.gif);
  background-repeat: no-repeat;
  background-position: 40px center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 240px;
}	

/* facebook and twitter tag */
.app_share_cell {
    background-color: rgb(246,249,250);
    border-top: 1px solid rgb(210,220,224);
    border-bottom: 1px solid rgb(210,220,224);
    border: 1px solid rgb(210,210,210); 
    border-left: none;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    margin: 0 15px;
}


.s-scrollwrapper {
  height:200px;       /* Of course you need to specify the object height */
  position:relative;  /* On older OS versions "position" and "z-index" must be defined, */
  z-index:1;          /* it seems that recent webkit is less picky and works anyway. */
  width:100%;
  background:#FFFFF;
  overflow:hidden;
}

.s-scrollpane {      
  float:left;
  width:100%;
  padding:0;
  background:#FFFFF;
  min-height: 100%;
}

			.music_info audio {
				display: block;
				top: 70px;
				position: absolute;
				height: 40px;
				width: 200px;
			}
			.music_info .stars0 {
			  	background: url("img/0stars.png") repeat scroll 0 0 transparent;
			}
			
			.music_info .stars1 {
			  	background: url("img/1stars.png") repeat scroll 0 0 transparent;
			}
			
			.music_info .stars2 {
			  	background: url("img/2stars.png") repeat scroll 0 0 transparent;
			}
			
			.music_info .stars3 {
			  	background: url("img/3stars.png") repeat scroll 0 0 transparent;
			}
			
			.music_info .stars4 {
			  	background: url("img/4stars.png") repeat scroll 0 0 transparent;
			}
			
			.music_info .stars5 {
			  	background: url("img/5stars.png") repeat scroll 0 0 transparent;
			}
            
            .music_info {
            	height: 90px;
            	overflow: hidden;
            	position: relative;
            }
            
            .music_info #s3_image {
            	display: block;
  				height: 50px;
  				width: 50px;
  				left: 0;
  				position: absolute;
  				top: 4;
            }
            
            .music_info .title {
			  	left: 55px;
			  	position: absolute;
			  	top: 24px;
			  	display: block;
			  	font-size: 15px;
			  	font-weight: bold;
			  	max-width: 60%;
			  	overflow: hidden;
			  	white-space: nowrap;
			}
			
			.music_info .artist {
				margin: 0 0 0 45px;
				display: block;
				font-size: 12px;
				font-weight: bold;
				overflow: hidden;
				white-space: nowrap;
				width: 60;
			}
			
			.music_info .download_count {
				margin: 0 0 0 45px;
				display: block;
				font-size: 12px;
				font-weight: bold;
				top: 52px;
				position: absolute;
				white-space: nowrap;
				width: 40;
			}

			.music_info .stars0, .music_info .stars1, .music_info .stars2, .music_info .stars3, .music_info .stars4, .music_info .stars5 {
			  	display: block;
			  	height: 18px;
			  	left: 55px;
			  	position: absolute;
			  	top: 40px;
			  	width: 65px;
			}

			.music_info .player {
				display: block;
				bottom: 10px;
				position: absolute;
				margin: 4px 4px 4px 4px;
			}
			
			#jqt h3 {
				color: #4C566C;
				font: normal normal 14px/normal 'Helvetica Neue', Helvetica;
				margin: 10px 20px 6px;
			}
			
			           #about {
                padding: 100px 10px 40px;
                text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
                font-size: 13px;
                text-align: center;
                background: #161618;
            }
            #about p {
                margin-bottom: 8px;
            }
            #about a {
                color: #fff;
                font-weight: bold;
                text-decoration: none;
            }
            
            
			#jqt .top {
			    position: absolute;
			    overflow: hidden;
			    top: 8px;
			    right: 6px;
			    margin: 0;
			    border-width: 0 5px;
			    padding: 0 3px;
			    width: auto;
			    height: 30px;
			    line-height: 30px;
			    font-family: inherit;
			    font-size: 12px;
			    font-weight: bold;
			    color: #fff;
			    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
			    text-overflow: ellipsis;
			    text-decoration: none;
			    white-space: nowrap;
			    background: none;
			}
			
			#jqt .top {
			    right: 6px;
			    position: absolute;
			    padding: 0;
			    max-width: 55px;
			    border-width: 0 5px 0 5px;
				padding: 0px 10px 0px 10px;
			    -webkit-border-image: url(/images/navbutton.png) 0 5 0 5;
			}
			
			#jqt .toolbar h1{
				left: 46%;
			}
			
			.music_info .rate_stars{
				display: block;
				height: 16px;
				width: 200px;
				color: #ff8a00;
				text-align: center;
				top: 130px;
				left: 55px;
				position: absolute;
			}
			.tap_star {
				border-width: 0;
				padding: 0 0 0 0;
				margin: 0 0 0 0;
			}
			.stars span{
				display: block;
				overflow: hidden;
				padding: 0 0 0 0;
				margin: 0 0 0 0;
			}
			#email_button {
				margin: 0 10px 0px 10px;
			}
			#jqt #email_ul {
				margin-bottom: 0;
			}